<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row" style="min-height: 400px;">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"
                            style="background-image: url('/assets/img/login.jpg')"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Blood Hound</h1>
                                </div>
                                <form [formGroup]="loginForm" (ngSubmit)="login()">
                                    <div class="user">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                aria-describedby="emailHelp" placeholder="請輸入員工編號"
                                                formControlName="account" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                placeholder="請輸入密碼" formControlName="password" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            登入
                                        </button>
                                        <!-- <hr>
                                        <a href="javascript:void(0)" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Google 登入
                                        </a> -->
                                    </div>
                                </form>

                                <!-- <hr>
                                <div class="text-center">
                                    <a class="small" href="javascript:void(0)">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="javascript:void(0)">Create an Account!</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>