<div *ngIf="this.httpService.loaderShow">
    <div class="lmask modal-sm bg-white shadow-sm p-3 mb-5 rounded-lg">
        <div class=" text-center  my-3  py-3 ">
            <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <h5 class="text-info mt-4">處理中請稍後...</h5>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
</div>