<nav class="page" *ngIf="items.length > 0">
    <div class="fixed-table-pagination" style="margin-top: 15px; display: flex; justify-content: center;">
        <div class="pagination">
            <ul class="pagination">

                <li class="page-item page-pre">
                    <button class="page-link" aria-label="上一頁" (click)="checkChanged(this._currentPage,-1)">‹</button>
                </li>

                <li class="page-item" *ngFor="let item of items" [ngClass]="getPageItemClass(item)">
                    <button class="page-link" *ngIf="item.type == 0"
                        (click)="checkChanged(item.value)">{{item.value}}</button>
                    <button class="page-link" *ngIf="item.type == 1">{{item.value}}</button>
                </li>

                <li class="page-item page-next">
                    <button class="page-link" aria-label="下一頁" (click)="checkChanged(this._currentPage,1)">›</button>
                </li>
            </ul>
        </div>
    </div>
</nav>