<ng-container *ngIf="this.loaderShow">
    <div class="position-absolute" style="top:50%;left:50%;transform:translate(-50%,-50%);">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <tr style="text-align: center; vertical-align: middle;" *ngIf="this.searchList.length == 0">
        <td colspan="this.colspan">&nbsp;</td>
    </tr>
</ng-container>