/* You can add global styles to this file, and also import other style files */

.card-body {
    min-height: 100px;
}

input:disabled {
    background-color: #eaecf4 !important;
}

tbody {
    position: relative;
}

table td {
    white-space: nowrap;
}

.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body table {
    font-size: 16px;
}

body table button {
    padding: 0.1rem 0.5rem !important;
}

body table a {
    padding: 0.1rem 0.5rem !important;
}


.btn-orange {
    color: white !important;
    background-color: #FF862A;
}

.btn-orange:hover {
    background-color: #ff7811;
}


.btn-green {
    color: white !important;
    background-color: #369F7C;
}

.btn-green:hover {
    background-color: #308c6d;
}


h1,
.h1 {
    font-size: 2.5rem !important;
}

h2,
.h2 {
    font-size: 2rem !important;
}

h3,
.h3 {
    font-size: 1.75rem !important;
}

h4,
.h4 {
    font-size: 1.5rem !important;
}

h5,
.h5 {
    font-size: 1.25rem !important;
}

h6,
.h6 {
    font-size: 1rem !important;
}