<h1 class="h3 mb-2 text-gray-800">角色清單</h1>

<div class="my-4"></div>

<a href="javascript:void(0)" class="btn btn-primary btn-icon-split" (click)="show_add()"
    *ngIf="this.sharedService.permission.canInsert">
    <span class="text">新增角色</span>
</a>

<div class="my-4"></div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="dataTables_length" id="dataTable_length">
                    <label style="display: block;margin: botto 2rm;">
                        每頁
                        <select name="dataTable_length" aria-controls="dataTable" (change)="tablePageSize()"
                            [(ngModel)]="pageSize" class="custom-select custom-select-sm form-control form-control-sm"
                            style="max-width: 80px;">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        筆
                    </label>
                </div>
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                    aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>角色名稱</th>
                            <th>狀態</th>
                            <th>功能</th>
                        </tr>
                    </thead>
                    <tbody>
                        <app-table-loader [searchList]="this.searchList" [loaderShow]="this.loaderShow" [colspan]="3">
                        </app-table-loader>
                        <tr *ngFor="let item of searchList; let i = index">
                            <td>{{item.name}}</td>
                            <td>
                                <div style="display:inline-block;margin-right: 15px;">
                                    <input type="radio" [value]="true" name="isEnabled{{i}}" [ngModel]="item.isEnabled"
                                        id="isEnabled{{i}}_1" style="margin-right: 3px;"
                                        (click)="changeEnable(item,true)"
                                        [disabled]="!this.sharedService.permission.canUpdate">
                                    <label for="isEnabled{{i}}_1">啟用</label>
                                </div>
                                <div style="display:inline-block">
                                    <input type="radio" [value]="false" name="isEnabled{{i}}" [ngModel]="item.isEnabled"
                                        id="isEnabled{{i}}_2" style="margin-right: 3px;"
                                        (click)="changeEnable(item,false)"
                                        [disabled]="!this.sharedService.permission.canUpdate">
                                    <label for="isEnabled{{i}}_2">停用</label>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-orange" routerLink="/account/role/{{item.id}}">編輯角色權限
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="dataTables_info" role="status" aria-live="polite">
                    第 {{currentPage}} 頁，共 {{itemTotal}} 筆
                </div>
                <app-pagination [currentPage]="currentPage" [pageSize]="pageSize" [itemTotal]="itemTotal"
                    (changePage)="onChangePage($event)"></app-pagination>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增角色</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="px-3">
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger">*</span>角色名稱
                            </label>
                            <input type="text" class="form-control bg-transparent" [(ngModel)]="detailData.name">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger">*</span>父階角色
                            </label>
                            <select class="form-control" [(ngModel)]="detailData.parentRoleId">
                                <option *ngFor="let opt of roleKeyValue" [value]="opt.key">{{ opt.value }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <button class="btn btn-primary" type="button" (click)="save_add()">確定</button>
            </div>
        </div>
    </div>
</div>