<h1 class="h3 mb-2 text-gray-800">打卡清單</h1>

<div class="my-4"></div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <!-- Grow In Utility -->
            <div class="col-lg-12">
                <div class="card position-relative">
                    <div class="card-body" style="display: flex;flex-wrap: wrap;">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>開始日期
                            </label>
                            <div style="display: flex;">
                                <input type="text" class="form-control bg-transparent" matInput
                                    [max]="searchFilter.endDate" [matDatepicker]="startDatepicker"
                                    [(ngModel)]="searchFilter.startDate">
                                <mat-datepicker-toggle [for]="startDatepicker" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #startDatepicker [startAt]="startDate"></mat-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>結束日期
                            </label>
                            <div style="display: flex;">
                                <input type="text" class="form-control bg-transparent" matInput
                                    [min]="searchFilter.startDate" [matDatepicker]="endDatepicker"
                                    [(ngModel)]="searchFilter.endDate">
                                <mat-datepicker-toggle [for]="endDatepicker" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #endDatepicker [startAt]="startDate"></mat-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>人員
                            </label>
                            <select class="form-control" [(ngModel)]="searchFilter.userId">
                                <option *ngFor="let opt of userKeyValue" [value]="opt.key">{{ opt.value }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="card-body" style="min-height: 60px;text-align: center;">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <a href="javascript:void(0)" class="btn btn-secondary btn-icon-split"
                                style="width: 130px;margin-right: 20px;" (click)="clear()">
                                <span class="text">清除</span>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-info btn-icon-split" style="width: 130px;"
                                (click)="search()">
                                <span class="text">查詢</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-4"></div>

        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="dataTables_length" id="dataTable_length">
                    <label style="display: block;margin: botto 2rm;">
                        每頁
                        <select name="dataTable_length" aria-controls="dataTable" (change)="tablePageSize()"
                            [(ngModel)]="pageSize" class="custom-select custom-select-sm form-control form-control-sm"
                            style="max-width: 80px;">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        筆
                    </label>
                </div>
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                    aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>人員名稱</th>
                            <th>打卡日期</th>
                            <th>上班時間</th>
                            <th>下班時間</th>
                            <th>功能</th>
                        </tr>
                    </thead>
                    <tbody>
                        <app-table-loader [searchList]="this.searchList" [loaderShow]="this.loaderShow" [colspan]="5">
                        </app-table-loader>
                        <tr *ngFor="let item of searchList">
                            <td>{{item.userName}}</td>
                            <td>{{item.pushDate | date:'yyyy/MM/dd'}}</td>
                            <td>{{item.firstTime | time:'HH:mm:ss'}}</td>
                            <td>{{item.lastTime | time:'HH:mm:ss'}}</td>
                            <td>
                                <a href="javascript:void(0)" (click)="showDetail(item)" data-toggle="modal"
                                    data-target="#detailModal">詳細
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="dataTables_info" role="status" aria-live="polite">
                    第 {{currentPage}} 頁，共 {{itemTotal}} 筆
                </div>
                <app-pagination [currentPage]="currentPage" [pageSize]="pageSize" [itemTotal]="itemTotal"
                    (changePage)="onChangePage($event)"></app-pagination>
            </div>
        </div>
    </div>
</div>


<!-- Detail Modal-->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{detailData.userName}} - {{detailData.pushDate | date:'yyyy/MM/dd'}} 打卡紀錄</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>打卡時間</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of detailData.lists">
                            <td>{{item | time:'HH:mm:ss'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>