<h1 class="h3 mb-2 text-gray-800">角色權限設定</h1>

<div class="my-4"></div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <!-- Grow In Utility -->
            <div class="col-lg-12">
                <div class="card position-relative">
                    <div class="card-body" style="display: flex;">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>角色
                            </label>
                            <input type="text" class="form-control bg-transparent" [(ngModel)]="detailData.name"
                                disabled>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>父階角色
                            </label>
                            <select class="form-control" [(ngModel)]="detailData.parentRoleId"
                                [disabled]="!this.sharedService.permission.canUpdate">
                                <option *ngFor="let opt of roleKeyValue" [value]="opt.key">{{ opt.value }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-4"></div>

        <button class="btn btn-info btn-icon-split" style="margin-right: 10px;" (click)="selectedAll()"
            [disabled]="!this.sharedService.permission.canUpdate">
            <span class="text">全部選取</span>
        </button>

        <button class="btn btn-secondary btn-icon-split" (click)="cancelAll()"
            [disabled]="!this.sharedService.permission.canUpdate">
            <span class="text">全部取消</span>
        </button>


        <div class="my-4"></div>

        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                    aria-describedby="dataTable_info" style="width: 100%;">
                    <tbody>
                        <ng-container *ngFor="let item of detailData.roleFunctions">
                            <tr style="color:#3d8dba;                           
                            border-bottom: 1px solid #A1C3CC;
                            border-top: 1px solid #A1C3CC;
                            background-color: #ECF5FF;">
                                <th style="width: 30%;">{{item.functionGroupName}}</th>
                                <th>權限</th>
                            </tr>
                            <tr *ngFor="let subItem of item.subFunctions">
                                <td>{{subItem.functionName}}</td>
                                <td>
                                    <div>
                                        <div class="custom-control custom-checkbox custom-control-inline"
                                            *ngFor="let operation of subItem.enabledOperations">
                                            <input type="checkbox" class="custom-control-input"
                                                id="Operations_{{operation.functionOperationId}}"
                                                [(ngModel)]="operation.operationIsEnable"
                                                [disabled]="!this.sharedService.permission.canUpdate">
                                            <label class="custom-control-label"
                                                for="Operations_{{operation.functionOperationId}}">{{operation.operationName}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="my-4"></div>

        <div class="col" style="text-align: center;">
            <a routerLink="/account/role" class="btn btn-secondary btn-icon-split" style="margin-right: 10px;">
                <span class="text">返回</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-primary btn-icon-split" (click)="save()"
                *ngIf="this.sharedService.permission.canUpdate">
                <span class="text">儲存</span>
            </a>
        </div>

    </div>
</div>