<!-- 404 Error Text -->
<div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">伺服器發生未知的錯誤</p>
    <p class="text-gray-500 mb-0">請通知伺服器管理人員</p>
    <a routerLink="/"><span class="text">點我</span> &larr; 回到首頁</a>
</div>