<h1 class="h3 mb-2 text-gray-800">{{this.isEdit ? '編輯' : '新增'}}帳號</h1>

<div class="my-4"></div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <!-- Grow In Utility -->
            <div class="col">
                <div class="card position-relative">
                    <div class="card-body" style="display: flex;flex-wrap: wrap;">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger">*</span>員工編號
                            </label>
                            <input type="text" class="form-control bg-transparent" [(ngModel)]="detailData.staffID"
                                placeholder="系統自動產生" disabled>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger">*</span>部門
                            </label>
                            <select class="form-control" [(ngModel)]="detailData.department"
                                [disabled]="!this.sharedService.permission.canUpdate">
                                <option value="">請選擇</option>
                                <option value="1">材料</option>
                                <option value="2">沙龍</option>
                                <option value="3">教學</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger">*</span>姓名
                            </label>
                            <input type="text" class="form-control bg-transparent" [(ngModel)]="detailData.name"
                                [disabled]="!this.sharedService.permission.canUpdate">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger">*</span>角色
                            </label>
                            <select class="form-control" [(ngModel)]="detailData.roleId"
                                [disabled]="!this.sharedService.permission.canUpdate">
                                <option *ngFor="let opt of roleKeyValue" [value]="opt.key">{{ opt.value }}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="!this.isEdit">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger">*</span>密碼
                            </label>
                            <input type="password" class="form-control bg-transparent" [(ngModel)]="detailData.password"
                                autocomplete="off" style="-webkit-text-security: disc;">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="!this.isEdit">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger">*</span>密碼確認
                            </label>
                            <input type="password" class="form-control bg-transparent"
                                [(ngModel)]="detailData.passwordCheck" autocomplete="off"
                                style="-webkit-text-security: disc;">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>到職日
                            </label>
                            <div style="display: flex;">
                                <input type="text" class="form-control bg-transparent" matInput
                                    [matDatepicker]="onBoardDateDatepicker" [(ngModel)]="detailData.onBoardDate"
                                    [disabled]="!this.sharedService.permission.canUpdate">
                                <mat-datepicker-toggle [for]="onBoardDateDatepicker" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #onBoardDateDatepicker [startAt]="startDate"></mat-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>職稱
                            </label>
                            <input type="text" class="form-control bg-transparent" [(ngModel)]="detailData.jobTitle"
                                [disabled]="!this.sharedService.permission.canUpdate">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>身份證字號
                            </label>
                            <input type="text" class="form-control bg-transparent" [(ngModel)]="detailData.identityNo"
                                [disabled]="!this.sharedService.permission.canUpdate">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>性別
                            </label>
                            <div class="col"
                                style="display: flex;align-items: end;font-size: 1rem;height: calc(1.5em + 0.75rem + 2px);">
                                <div style="padding: inherit;">
                                    <input type="radio" value="M" name="gender" [ngModel]="detailData.gender"
                                        id="gender_1" style="margin-right: 3px;" (click)="detailData.gender = 'M'"
                                        [disabled]="!this.sharedService.permission.canUpdate">
                                    <label for="gender_1">男</label>
                                </div>
                                <div style="padding: inherit;">
                                    <input type="radio" value="F" name="gender" [ngModel]="detailData.gender"
                                        id="gender_2" style="margin-right: 3px;" (click)="detailData.gender = 'F'"
                                        [disabled]="!this.sharedService.permission.canUpdate">
                                    <label for="gender_2">女</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>是否已婚
                            </label>
                            <div class="col"
                                style="display: flex;align-items: end;font-size: 1rem;height: calc(1.5em + 0.75rem + 2px);">
                                <div style="padding: inherit;">
                                    <input type="radio" [value]="true" name="isMarried" [ngModel]="detailData.isMarried"
                                        id="isMarried_1" style="margin-right: 3px;"
                                        (change)="valuechange('isMarried',true)"
                                        [disabled]="!this.sharedService.permission.canUpdate">
                                    <label for="isMarried_1">是</label>
                                </div>
                                <div style="padding: inherit;">
                                    <input type="radio" [value]="false" name="isMarried"
                                        [ngModel]="detailData.isMarried" id="isMarried_2" style="margin-right: 3px;"
                                        (change)="valuechange('isMarried',false)"
                                        [disabled]="!this.sharedService.permission.canUpdate">
                                    <label for="isMarried_2">否</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>是否本國籍
                            </label>
                            <div class="col"
                                style="display: flex;align-items: end;font-size: 1rem;height: calc(1.5em + 0.75rem + 2px);">
                                <div style="padding: inherit;">
                                    <input type="radio" [value]="true" name="isNationality"
                                        [ngModel]="detailData.isNationality" id="isNationality_1"
                                        style="margin-right: 3px;" (change)="valuechange('isNationality',true)"
                                        [disabled]="!this.sharedService.permission.canUpdate">
                                    <label for="isNationality_1">是</label>
                                </div>
                                <div style="padding: inherit;">
                                    <input type="radio" [value]="false" name="isNationality"
                                        [ngModel]="detailData.isNationality" id="isNationality_2"
                                        style="margin-right: 3px;" (change)="valuechange('isNationality',false)"
                                        [disabled]="!this.sharedService.permission.canUpdate">
                                    <label for="isNationality_2">否</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="detailData.isNationality == false">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>居留證號碼
                            </label>
                            <input type="text" class="form-control bg-transparent"
                                [(ngModel)]="detailData.residentVisaNumber"
                                [disabled]="!this.sharedService.permission.canUpdate">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="detailData.isNationality == false">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>護照號碼
                            </label>
                            <input type="text" class="form-control bg-transparent"
                                [(ngModel)]="detailData.passportNumber"
                                [disabled]="!this.sharedService.permission.canUpdate">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>生日
                            </label>
                            <div style="display: flex;">
                                <input type="text" class="form-control bg-transparent" matInput
                                    [matDatepicker]="birthdayDatepicker" [max]="startDate"
                                    [(ngModel)]="detailData.birthday"
                                    [disabled]="!this.sharedService.permission.canUpdate">
                                <mat-datepicker-toggle [for]="birthdayDatepicker" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #birthdayDatepicker [startAt]="startDate"></mat-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>電話
                            </label>
                            <input type="text" class="form-control bg-transparent" [(ngModel)]="detailData.telephone"
                                [disabled]="!this.sharedService.permission.canUpdate">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>教育程度
                            </label>
                            <select class="form-control" [(ngModel)]="detailData.educationLevel"
                                [disabled]="!this.sharedService.permission.canUpdate">
                                <option value="">請選擇</option>
                                <option value="1">高中</option>
                                <option value="2">學士</option>
                                <option value="3">碩士</option>
                                <option value="4">博士</option>
                                <option value="0">其他</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="detailData.educationLevel == '0'">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>教育程度-其他
                            </label>
                            <input type="text" class="form-control bg-transparent"
                                [(ngModel)]="detailData.educationLevelOther"
                                [disabled]="!this.sharedService.permission.canUpdate">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>通訊地址
                            </label>
                            <input type="text" class="form-control bg-transparent"
                                [(ngModel)]="detailData.currentAddress"
                                [disabled]="!this.sharedService.permission.canUpdate">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>戶籍地址
                            </label>
                            <input type="text" class="form-control bg-transparent"
                                [(ngModel)]="detailData.residenceAddress"
                                [disabled]="!this.sharedService.permission.canUpdate">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>緊急連絡人
                            </label>
                            <input type="text" class="form-control bg-transparent"
                                [(ngModel)]="detailData.emergencyContactPerson"
                                [disabled]="!this.sharedService.permission.canUpdate">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>緊急連絡人-關係
                            </label>
                            <input type="text" class="form-control bg-transparent"
                                [(ngModel)]="detailData.emergencyContactPersonRelation"
                                [disabled]="!this.sharedService.permission.canUpdate">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="col-form-label text-nowrap">
                                <span class="text-danger"></span>聯絡電話
                            </label>
                            <input type="text" class="form-control bg-transparent" [(ngModel)]="detailData.contactPhone"
                                [disabled]="!this.sharedService.permission.canUpdate">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-4"></div>

        <div class="col" style="text-align: center;">
            <a routerLink="/account/user" class="btn btn-secondary btn-icon-split" style="margin-right: 10px;">
                <span class="text">返回</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-primary btn-icon-split" (click)="save()" *ngIf="(!this.isEdit && this.sharedService.permission.canInsert) ||
                (this.isEdit && this.sharedService.permission.canUpdate)">
                <span class="text">儲存</span>
            </a>
        </div>

    </div>
</div>